{%extends "auctions/layout.html"%}

{%block body%}
<form action="{% url 'category'%}" method="post"> 
    {% csrf_token %}
    {{category}}
    <input type="submit"/>
</form> 
{%if items%}
 <div id="item_container">
    {%for item in items%}
    <div id="item_listing">
    <a  id="item_name" href="{%url 'item_list' item_id=item.id%}">
        <b><p class="truncate-text">{{item.name}}</p></b></a>
    <a href="{%url 'item_list' item_id=item.id%}">
    <img id="item_image_list" src="{{item.img.url}}" alt="{{ item.name }}">
    </a>
    <h1>${{item.actual_price}}</h1>
    <p><b>Created By: </b>{{item.user.username}}</p>
    <button onclick="window.location.href='{% url 'item_list' item_id=item.id %}'" class="button_b">
        <b>BID</b>
    </button>
    <form  action="{% url 'watchlist' %}" method="post"> 
        {% csrf_token %}
    <button class="buttons_a"name="item" value="{{item.id}}">Watchlist</button>
    </form> 
    </div>

    {% endfor %}
</div>
{%else%}
<h1>No items</h1>
{%endif%}

{%endblock%}